.container {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    display: flex;
    margin: 0px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.gridSquare {
    /* 32 is hard coded based off 16*16 grid */
    padding: calc(100%/32);
    background-color: rgb(212, 210, 210);
    flex: 1;
}

.gridSquare .hovered {
    background-color: rgb(47, 45, 45);
}