.body {
    box-sizing: border-box;
}

.sizeButton {
    display: block;
    font-size: 100%;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container {
    width: 45%;
    height: 0;
    padding-bottom: 45%;
    display: flex;
    margin: 0px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.gridSquare {
    /* 32 is hard coded based off 16*16 grid */
    padding: calc(100%/32);
    background-color: rgb(212, 210, 210);
    flex: 1;
}

.hovered {
    background-color: rgb(47, 45, 45);
}